<!-- <!-- Preloader -->
<div id="preloader">
  <div class="pre-container">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
</div>
<!-- Εnd Preloader -->

<!-- Main menu -->
<nav id="main-nav">
  <a href="#" class="js-nav-toggle nav-toggle active"><i></i></a>
  <div class="js-fullheight table">
    <div class="table-cell js-fullheight">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="work.html">Work</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <!-- Social -->
      <p class="social-icon">
        <a href="https://www.facebook.com/kaveesha.yaka.gimhana/"
          ><i class="fab fa-facebook-square"></i
        ></a>
        <a href="https://twitter.com/KaveeshaGimha"
          ><i class="fab fa-twitter-square"></i
        ></a>
        <a href="https://www.instagram.com/kaveesha__gimhana/"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://dribbble.com/kaveesha"
          ><i class="fab fa-dribbble"></i
        ></a>
        <a href="https://github.com/KaveeshaG"><i class="fab fa-github"></i></a>
      </p>
    </div>
  </div>
</nav>

<!-- header -->
<header class="header">
  <div class="container">
    <div class="navbar-brand">
      <div class="row">
        <div class="col-xs-6">
          <!-- Logo -->
          <h1 class="text-left"><a class="logo" href="index.html">KG</a></h1>
        </div>
      </div>
      <!-- Nav toggle -->
      <a href="#" class="js-nav-toggle nav-toggle"><i></i></a>
    </div>
  </div>
</header>
<!-- End Header -->
